<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/home">Home</a>
    </nav>

    <h1>Boba Feet Works</h1>

    <p>En 2013, Disney, propietario actual de Lucasfilm, había confirmado un spin-off para 2020 con Boba Fett como protagonista. Pero fue cancelado después del fracaso en taquilla del segundo spin off de la saga de Star Wars Han Solo: una historia de Star Wars.9​

        En el año 2020 aparece en la segunda temporada de la serie The Mandalorian. En el último capítulo de la segunda temporada, confirman después de los créditos que habrá una serie sobre Boba Fett en diciembre del 2021 llamada El libro de Boba Fett, donde explicará cómo logró sobrevivir al Sarlacc en el Episode VI - Return of the Jedi.10​</p>
    
</body>
</html>